@model  Ecommerce.Core.DTos.CategoryDTos.CategoryListDto


<ul class="list-group">

    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item">@category.Name</li>


    }

</ul>